@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body{
    overflow-x: hidden;
    height: 100%;
}
body{
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.content{
    background-color: #f6f6f6;
    padding:  20px;
    width: 100%;
    max-width: 100%;
}
.header{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px;
    overflow: hidden;
    z-index: 10;
}
#sidebarMenu{
    height: 100%;
    position: fixed;
    user-select: none;
    left: 0;
    width: 250px;
    margin-top: 39px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #fc466b, #3f5efb 100%);
    z-index: 99999;
}
.name{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner{
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner label{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.name span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner label{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.sidebarMenuInner label:hover{
    background: rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]:checked ~ #sidebarMenu{
    transform: translateX(0);
}
.sidebarIconToggle{
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
/*hamburger menu*/
.spinner{
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal{
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1{
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2{
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~.sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0; /*sakrivanje srednjeg*/
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1{
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 9px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
@media screen and (max-width: 300px) {
    #sidebarMenu{
        transform: translateY(-1250px);
        height: 385px;
    }
}
input[name="menu"]{
    display: none;
}
.tab-content{
    position: relative;
    display: none;
}
.tab-content::after{
    content: "";
    clear: both;
}
input[name="menu"]:checked + .tab-content{
    display: block;
}